BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
InsertNewlineAtEOF: true
